<%- include('../partials/head', {title:'Talent Hub'}) %>
<%- include('../partials/header') %>


<main class="home-page">
    <section class="hero">
        <div class="hero-container-white">
            <div class="hero-container-blue">
                <div class="hero-text">
                    <h2 class="hero-title">Trouvez la mission qui vous correspond.</h2>
                    <div class="hero-description">
                        <p>Découvrez des annonces claires, accessibles et adaptées à vos talents.</p>
                        <p>Publiez, éditez ou supprimez vos offres en toute simplicité.</p>
                    </div>
                </div>
                <a href="" class="btn-primary">Découvrez les offres</a>
            </div>
    </section>

    <section class="latest-announces">
        <div class="section-header">
            <h2 class="section-title">Les dernières annonces</h2>
        </div>
    </section>

</main>
<%- include('../partials/footer') %>